.body {
    background-color: #0d102b;
}

.filtrar-calendario {
    border: 1.5px solid white;
    border-radius: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2px;
    margin-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-left: 10px;
}

.filtrar-calendario > h2 {
    font-weight: 500;
    font-size: 20px;
    align-self: center;
}

.filtrar-calendario-periodo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 5px;
}

.filtrar-calendario-periodo > h3 {
    font-weight: 400;
    font-size: 16px;
    margin-left: 10px;
    width: 40%;
}

.filtrar-calendario-periodo > svg {
    max-height: 28px;
}

.divisao-checkbox {
    height: 1px;
    width: 75%;
    background-color: white;
    display: flex;
    align-self: center;
    margin-top: 10px;
}

.calendario {
    width: calc(100% - 500px);
    margin-left: 250px;
    background-color: #0d102b;
}

.header-calendario {
    display: flex;
    justify-content: center;
    background-color: #022E5E;
    flex-direction: column;
    color: white;
    margin-top: 0px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: fit-content;
}

.header-parte-de-cima {
    display: flex;
    padding-top: 30px;
    height: fit-content;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    justify-content: center;
    position: relative;
}

.header-parte-de-cima > h3 {
    font-size: 22px;
}

.header-parte-de-cima > div {
    display: flex;
    padding: 5px 15px;
    height: fit-content;
    align-items: center;
}

.header-parte-de-cima > div > h4 {
    font-size: 14px;
}

.header-parte-de-cima > div > svg {
    height: 26px;
}

.header-parte-de-cima > h4 {
    font-size: 14px;
}

.header-turmas {
    position: absolute;
    right: 30px;
}

.header-divisoes-semanas {
    display: grid;
    grid-template-columns: 50px repeat(6, 1fr);
    gap: 0;
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
    height: fit-content;
}

.fundo-grid {
    background-color: white;
}

.calendario-grid {
    display: grid;
    grid-template-columns: 50px repeat(6, 1fr);
    gap: 0;
    margin: 10px;
}

.time-slot-label {
    padding: 10px 10px 10px 0px;
    display: flex;
    align-items: center;
    text-align: right;
    background-color: transparent;
    border-bottom: 1px solid #AFAFAF;
}

.time-slot {
    padding: 10px;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: stretch;
    justify-content: flex-start;
    border-bottom: 1px solid #AFAFAF;
    border-left: 1px solid #AFAFAF;
}

.calendario-grid > div:nth-child(6n) {
    border-right: 0;
}

.event {
    display: flex;
    height: 19px;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.event.azul {
    background-color: #57A1E3;
}

.event.verde {
    background-color: #51DB51;
}

.event.amarelo {
    background-color: #e6ae08;
}

.dias-da-semana {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 5px 0;
    margin-left: 5px;
    margin-right: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    min-width: auto;
}

.dias-da-semana > h2 {
    font-size: 16px;
    font-weight: 500;
}

.area-lado-direito {
    width: 250px;
    height: 100vh;
    background-color: #0d102b;
    top: 0;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 18px;
    z-index: -1;
}

.calendario-lado-direito {
    width: 225px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    margin-top: 80px;
    display: flex;
    align-self: center;
    flex-direction: column;
    padding-bottom: 15px;
}

.header-calendario-lado-direito {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #022E5E;
}

.header-calendario-lado-direito > h3 {
    font-size: 16px;
    font-weight: 500;
}

.dias-da-semana-calendario-lado-direito {
    display: flex;
    justify-content: space-around;
    gap: 3px;
    padding: 5px;
}

.dias-da-semana-calendario-lado-direito > p {
    font-size: 12px;
    font-weight: 500;
    color: black;
}

.dias-calendario-lado-direito {
    display: grid;
    grid-template-columns: 15px repeat(6, 1fr);
    gap: 5px;
    padding-bottom: 5px;
    margin-left: 13px;
}

.dias-calendario-lado-direito > p {
    font-size: 12px;
    font-weight: 500;
    color: black;
}

.resumo-geral-lado-direito {
    width: 225px;
    background-color: white;
    border-radius: 15px;
    margin-top: 10px;
    display: flex;
    align-self: center;
    flex-direction: column;
    padding: 15px;
}

.resumo-geral-lado-direito > h3 {
    font-size: 14px;    
    color: black;
}

.area-escrita-resumo-geral {
    color: black;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    border: 2px solid #4291D8;
    border-radius: 30px;
    padding: 2px 10px;
    margin-top: 10px;
    max-height: 23px;
    min-height: 20px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    text-align: start;
}

.modal-content h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.modal-content p {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}