
.admin-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.prof-infos {

    display: flex;
    flex-direction: column;
    margin-right: 10px;
    flex: 1; 
    min-width: 0; 
}

.prof-infos h3 {
    font-size: 16px; 
    font-weight: 600; 
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4px;
}

.prof-infos p {
    font-size: 14px;
    color: #666; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 2px 0;
}
